@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville+SC&family=Great+Vibes&family=Leckerli+One&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


/* src/components/AboutUs.css */
.about-us {
    text-align: center;
    padding: 20px;
    background-color: #fff; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 20px auto;
    max-width: 50%;
  }
  
  .about-us h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    font-family: 'Fleur De Leah', cursive;
    font-weight: 300;
    color: #60795e; /* Dark green */
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .about-text {
    flex: 2;
    text-align: left;
  }
  
  .about-text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .about-text p {
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
  }
  
 