@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville+SC&family=Great+Vibes&family=Leckerli+One&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* src/pages/EventDetails.css */
.event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.event-details h1 {
  font-family: 'Fleur De Leah', serif;
  font-size: 5rem;
  color: #60795e;
  font-weight: 300;
  padding: 10px 0;
  background-color:#fff; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 50%;
  border-radius: 10px;
  text-align: center;
  margin: 40px auto;
}

.event-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 20px;  
  padding-bottom: 20px;
  margin: 40px auto;
  width: 50%;
  align-items: center;
}

.event-card h2 {
  font-family: 'Great Vibes', serif;
  font-size: 3rem;
  color: #6b8268;
  margin-bottom: 10px;
  font-weight: 300;
}

.event-card p {
  font-family: 'Arsenal', sans-serif;
  font-size: 1.2rem;
  color: #6b8268;
  margin: 10px 0;
  text-align: center;
  
}

.event-card img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}