/* src/pages/Home.css */
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-section {
  width: 100%;
  height: 100vh; /* Full height for the initial view */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-title {
  font-family: 'Fleur De Leah', serif;
  font-weight: 300;
  font-size: 6.6rem;
  color: #fff;
  margin: 0;
}


.welcome-message {
  background: rgba(128, 147, 128, 0.7); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin-top: 20px;
  text-align: center;
}

.welcome-message h2 {
  font-family: 'Great Vibes', serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 10px;
}

.welcome-message h3 {
  font-family: 'Arsenal', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 300;
}


/* Basic modal styling */
.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it is on top of other content */
}

.login-modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-modal {
  background: none;
  border: none;
  font-size: 2rem;
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-modal:hover {
  color: #333;
}

/* Button styling for the homepage login button */
.login-button {
  padding: 12px 24px;
  background-color: #799276;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #d4a59d;
}

.logout-button {
  padding: 12px 24px;
  background-color: #d4a59d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;  
  font-family: "Arsenal SC", sans-serif;  
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #f0ecec;
  padding: 20px;
  box-sizing: border-box;
}

.login button {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  background-color: #799276;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  font-family: "Arsenal SC", sans-serif;
}

.login form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.login label {
  font-family: "Arsenal SC", sans-serif;
  font-size: 1rem;
  color: #799276;
  margin-top: 10px;
  margin-right: 10px;
}

.login input {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;    
}


/* General Modal Styles */
.rsvp-modal, .login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.rsvp-modal-content, .login-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

button.close-modal {
  background: none;
  border: none;
  font-size: 30px;
  color: #000;
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #799276;
  color: #fff;
  font-family: "Arsenal SC", sans-serif;

}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: "Arsenal SC", sans-serif;
  font-size: 1rem;
  outline: none;
  
}
