.guest-response {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input[type="checkbox"] {
  margin-left: 10px;
}

button {
  background-color: #799276;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Playfair Display SC', serif;
}
