/* src/pages/Travel.css */
  .travl {
    text-align: center;
    padding: 20px;
  }

/*PAGE TITLE*/
.travel h1 {
    font-family: 'Fleur De Leah', cursive;
    font-size: 5rem;
    font-weight: 300;
    color: #799276;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px auto;
    max-width: 50%;
    text-align: center;
}

/*LODGING SECTION*/
  .lodging-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
  }

  /*TRANSPORTATION SECTION*/
  .transportation-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
  }

  /*PARKING SECTION*/
  .parking-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }




  .travel h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: #799276;
    margin: 1.5rem;    
    font-weight: 600;
  }
  
  .travel p {
    font-size: 1.5rem;
    color: #799276;
    margin-bottom: 1rem;
  }   
  
  .travel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;  
  }
  
  .travel ul li {
    font-size: 1rem;
    color: #799276;
    margin-bottom: 1rem;
  }
  
  .city-section {
    margin-top: 40px;
    width: 100%;
  }
  
  .city-section h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    color: #60795e;
    margin-bottom: 20px;
  }
  
  .attraction {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .attraction-info {
    flex: 1;
  }
  
  .attraction-info h4 {
    font-family: 'Arsenal', sans-serif;
    font-size: 1.5rem;
    color: #60795e;
    margin-bottom: 10px;
  }
  
  .attraction-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .attraction-info ul li {
    font-size: 1rem;
    color: #799276;
    margin-bottom: 5px;
  }
  
  .attraction-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #799276;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .attraction-button:hover {
    background-color: #6b8268;
  }
  
  .attraction-photo {
    margin-left: 10px;
    max-width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }