@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville+SC&family=Fleur+De+Leah&family=Great+Vibes&family=Leckerli+One&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0ecec;
    margin-bottom: 10px;
    width: 100%;

}

iframe {
    width: 50%;
    height: 11vh;   
    border: none;
    box-shadow: 0 4px 8px rgba(40, 68, 45, 0.387);

}

@media (max-width: 768px) {
    iframe {
        width: 80%;
        height: 60px; 

    }

    .footer {
        max-height: 60px;
    }   
}