.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #799276;
    color: #fff;
    font-family: 'Arsenal SC', sans-serif;  
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

.login-page form {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    color: #fff;
}
