@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville+SC&family=Fleur+De+Leah&family=Great+Vibes&family=Leckerli+One&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Navbar styles */
.navbar {
  background: #f0ecec;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgb(115, 108, 108);
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

/* Navbar container (centering content) */
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
}

.navbar-center {
  flex: 2;
  display: flex;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

/* Navbar links */
.nav-links {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
}

.nav-links:hover {
  color: #799276;
  font-weight: 600;
}

.nav-item {
  font-family: 'Arsenal SC', sans-serif;
  color: #4f3b41;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0 1rem;
  word-spacing: 5px;
}

/* RSVP button styles */
.rsvp-button {
  background-color: #799276;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Playfair Display SC', serif;
}

.rsvp-button a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  letter-spacing: 3px;
}

/* Media Queries for responsive design */
@media (max-width: 960px) {
  .navbar-container {
    padding: 0 24px;
  }

  .nav-menu {
    display: none; /* Hide the nav links on smaller screens */
  }

  .burger-menu {
    display: flex; /* Show the burger menu icon */
    flex-direction: column;
    cursor: pointer;
    z-index: 999;
  }

  .burger-menu div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000;
    transition: 0.3s;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu.active {
    display: flex; /* Show the nav links when burger menu is clicked */
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f0ecec;
    padding: 1rem 0;
  }

  .rsvp-button {
    width: 100%;
    text-align: center;
  }
}
