/* src/components/PhotoGallery.css */
.photo-gallery {
  text-align: center;
  padding: 20px;
}

#file-input {
  display: none; /* Hide the default file input */
}

.upload-button {
  background-color: #799276;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Fleur De Leah', serif;
  font-size: 1.2rem;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload-button:hover {
  background-color: #6b8268;
  transform: scale(1.05);
}

.error {
  color: red;
  font-family: 'Arial', sans-serif;
  margin-top: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  max-width: 1500px;
}

.photo-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 300px; /* Set a maximum width for the photo containers */
  width: 100%; /* Ensure the photo containers are responsive */
}

.photo-container img {
  width: 100%;
  height: auto;
  display: block;
}

.photo-container:hover {
  transform: scale(1.05);
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}