/* src/components/Timeline.css */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

body {
  background-color: #f0ecec;
  font-family: 'Arsenal', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* src/components/Timeline.css */
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.timeline-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
  color: #fff;
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-right: 20px;
}

.timeline-icon img {
  width: 100%;
  height: 100%;
}

.timeline-content {
  display: flex;
  flex-direction: column;
}

.timeline-content h2 {
  font-family: 'Great Vibes', serif;
  font-size: 3rem;
  font-weight: 300;
  color: #6b8268;
  margin: 0;
}

.timeline-content p {
  font-family: 'Arsenal SC', sans-serif;
  font-size: 1.5rem;
  color: #6b8268;
  margin: 0;
}

.timeline-card {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.timeline-card-content {
  display: flex;
  justify-content: space-around;
}

.timeline-card-content img {
  width: 50%;
  height: 50%;
}


.perspective-card {
  width: 45%;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.perspective-card h3 {
  font-family: 'Arsenal', sans-serif;
  font-size: 1.2rem;
  color: #6b8268;
  margin-bottom: 10px;
}

.perspective-card p {
  font-family: 'Arsenal', sans-serif;
  font-size: 1rem;
  color: #6b8268;
  margin: 0;
}

.details-link {
  display: block;
  margin-top: 10px;
  font-family: 'Arsenal', sans-serif;
  font-size: 1rem;
  color: #799276;
  text-decoration: none;
  transition: color 0.3s ease;
}

.details-link:hover {
  color: #6b8268;
}